body {
  background-color: rgb(41, 39, 60);
  display: flex;
  justify-content: center;
  align-items: end;
}

canvas {
  z-index: 1;
  width: 100%;
}

#pokedexButton {
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
  z-index: 2;
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  #container {
    max-width: 1024px;
  }
}
