body {
  background-color: rgb(41, 39, 60);
}

canvas {
  z-index: 1;
}

#pokedexButton {
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  z-index: 2;
  position: absolute;
  top: 42%;
  left: 50%;
}
